.git
.github
.gradle
.ansible
build
frontend/node_modules
frontend/dist
group_vars
roles
docs
.vault-password
inventory.yml
README.md
Makefile
ansible.cfg
inventory.example.yml
playbook.yml
requirements.yml
