[defaults]
inventory = inventory.yml
roles_path = .ansible/roles:roles
collections_path = .ansible/collections
local_tmp = /tmp/hexlet-3-ansible
retry_files_enabled = false
host_key_checking = true
interpreter_python = auto_silent
vault_password_file = .vault-password

[privilege_escalation]
become = true

[ssh_connection]
control_path_dir = /tmp/hexlet-3-ansible/cp

[galaxy]
cache_dir = .ansible/galaxy_cache
token_path = .ansible/galaxy_token
